<div id="footer">
  <div class="container">
    <p class="text-muted">
      Coded by Cos Sarris at <a href="http://www.codercourse.com" target="_blank" >www.Codercourse.com</a>
    </p>
    </div>
  </div>